.text-container{
    background-color: aqua;
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    transition: all 110ms linear;
    cursor: pointer;
    
}
.text-container:hover{
    transform: scale(1.1,1.1);
    /* background-color: lightslategray */
}
.green{
    background-color: rgb(55, 226, 55);
    color: black;
}
.red{
    background-color: rgb(229, 62, 62);
    color: black;
}