<div class="board-container">
    <h1 class="heading">
        Tic Tac Toe
    </h1>
    <table>
        <tr>
           <td (click)="gameService.changeGameState(0)"><app-position-text [textValue]="gameService.gameState[0]"></app-position-text></td> 
           <td (click)="gameService.changeGameState(1)"><app-position-text [textValue]="gameService.gameState[1]"></app-position-text></td>
           <td (click)="gameService.changeGameState(2)"><app-position-text [textValue]="gameService.gameState[2]"></app-position-text></td>
        </tr>
        <tr>
            <td (click)="gameService.changeGameState(3)"><app-position-text [textValue]="gameService.gameState[3]"></app-position-text></td> 
            <td (click)="gameService.changeGameState(4)"><app-position-text [textValue]="gameService.gameState[4]"></app-position-text></td>
            <td (click)="gameService.changeGameState(5)"><app-position-text [textValue]="gameService.gameState[5]"></app-position-text></td>
         </tr>
         <tr>
            <td (click)="gameService.changeGameState(6)"><app-position-text [textValue]="gameService.gameState[6]"></app-position-text></td> 
            <td (click)="gameService.changeGameState(7)"><app-position-text [textValue]="gameService.gameState[7]"></app-position-text></td>
            <td (click)="gameService.changeGameState(8)"><app-position-text [textValue]="gameService.gameState[8]"></app-position-text></td>
         </tr>
    </table>
    <h1 class="heading" [ngClass]="{'green':gameService.chance==1,'red':gameService.chance==0}" *ngIf="!gameService.gameOver">Player {{gameService.chance}}'s Chance</h1>

    <h1 class="heading" [ngClass]="{'green':gameService.winner==1,'red':gameService.winner==0}" *ngIf="gameService.gameOver && !gameService.draw">Player {{gameService.winner}} Won The Game</h1>
    <h1 class="heading" *ngIf="gameService.gameOver && gameService.draw">Match Draw</h1>
    <div class="button-container" *ngIf="gameService.gameOver">
        <button [disabled]="!gameService.gameOver" (click)="gameService.restartGame()" > Restart Game</button>
    </div>
    
</div>
<footer class="footer">
    <p>Created by @Vishal Pandey</p>
</footer>
<!-- {{gameService.gameState | json}} -->